/**********************************
GENERAL
***********************************/

/* {
  border: 1px solid red;
}*/

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  line-height: 1.374;
  color: #fafafa;
  background: url("../img/business2.jpg");
  background-color: black;
  min-width: 620px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  background: rgba(0, 0, 0, 0.4);
}

/* Remove default list styles, margins, and padding */
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/**********************************
HEADER
***********************************/

header {
  margin: 0;
  padding: 0;
  height: 70px;
  background: rgba(0, 0, 0, 0.6);
}


.logo, .social-media {
  display: inline-block;
  margin: 10px;
}

.social-media {
  float: right;
}

.social-media li {
  display: inline-block;
  margin-top: 12px;
}

.social-media img {
  height: 25px;
  width: 25px;
}

header p {
  display: inline-block;
}



/**********************************
PAGE
***********************************/

.wrapper {
  width: 100%;
  min-height: calc(100vh - 50px);
}

.container {
  margin: auto;
  width: 100%;
}

section {
  margin: auto;
  padding: 0;
}



/**********************************
FOOTER
***********************************/

footer {
  text-align: center;
  height: 50px;
  background-color: #777;
  background: rgba(0, 0, 0, 0.6);
}

footer .container {
  position: relative;
  height: 50px;
}

.map, .hours {
  position: absolute;
  bottom: 65px;
}

.map {
  right: 0;
  float: left;
  display: inline-block;
}

.hours {
  left: 0;
  display: inline-block;
  width: 200px;
}

.address {
  float: left;
  margin-top: 5px;
  text-align: left;
}

.copyright {
  display: inline-block;
  margin: 10px;
  font-size: 12px;
}

.phone {
  float: right;
  margin-top: 15px;
}

.hours h2 {
  margin: 0;
}

.hours dl {
  margin: 0;
  padding: 0;
}

.hours dt {
  float: left;
  margin: 0;
}

.hours dd {
  float: right;
  margin: 0;
}

/* Alignment */

.logo, .hours, .address {
  margin-left: 5%;
}

.social-media, .phone, .map {
  margin-right: 5%;
}
